<div class="col-6 offset-3" id="content">
    <h4>Cập Nhật</h4>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="tenant"></label>
            <select name="tenant" id="tenant" class="form-control" [(ngModel)]="selectedTenant">
                <option value="null">Chọn người thuê</option>
                <option *ngFor="let tenant of tenants;index as i_;" value={{stringify(tenant)}}>{{tenant.name}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="employee"></label>
            <select name="employee" id="employee" class="form-control" [(ngModel)]="selectedEmployee">
                <option value="null">Chọn nhân viên</option>
                <option *ngFor="let employee of employees;index as i_;" value={{stringify(employee)}}>{{employee.name}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="costPerMonth"></label>
            <input [(ngModel)]="contract.costPerMonth" type="number" multiple="true" class="form-control"
                placeholder="Nhập giá thuê" id="costPerMonth" name="costPerMonth" required />
        </div>

        <div class="form-group">
            <label for="createDate">Ngày tạo</label>
            <input type="date" #createDate [valueAsDate]="contract.createDate" (change)="parseCreateDate($event.target)"
                class="form-control" id="createDate" name="createDate" required>
        </div>

        <div class="form-group">
            <label for="startDate">Ngày hiệu lực</label>
            <input type="date" #startDate [valueAsDate]="contract.startDate" (change)="parseStartDate($event.target)"
                class="form-control" id="startDate" name="startDate" required>
        </div>

        <div class="form-group">
            <label for="endDate">Ngày kết thúc</label>
            <input type="date" #endDate [valueAsDate]="contract.endDate" (change)="parseEndDate($event.target)"
                class="form-control" id="endDate" name="endDate" required>
        </div>

        <div class="form-group d-flex justify-content-end m-2">
            <button class="btn btn-primary" type="submit" id="submit">Cập nhật</button>
            <a (click)="goBack()" class="btn btn-default">Quay Lại</a>
        </div>
    </form>
</div>