<div class="container-scroller">
    <div class="row">
        <app-sidebar></app-sidebar>

        <div class="col offset-2">
            <div class="container">

                <app-navbar></app-navbar>
                <div class="row">
                    <div class="header-container d-flex justify-content-between" id="header-container">
                        <span id="title">Dịch Vụ</span>
                        <a (click)="toggelDisable()" class="btn btn-success" id="update-button">{{disable ? 'Cập nhật':
                            'Lưu'}}</a>
                    </div>
                    <div id="content" class="col-6 offset-3">
                        <h4>Thông tin các dịch vụ</h4>
                        <form>
                            <div class="form-group">
                                <label for="electric"></label>
                                <input [(ngModel)]="serviceprice.electric" [disabled]="disable" type="text"
                                    id="electric" class="form-control" id="electric" name="electric" required
                                    placeholder="Nhập giá điện" />
                                <span></span>
                            </div>
                            <div class="form-group">
                                <label for="water"></label>
                                <input [(ngModel)]="serviceprice.water" [disabled]="disable" type="text" id="water"
                                    class="form-control" id="water" name="water" required placeholder="Nhập giá nước" />
                            </div>
                            <div class="form-group">
                                <label for="internet"></label>
                                <input [(ngModel)]="serviceprice.internet" [disabled]="disable" type="text"
                                    id="internet" class="form-control" id="internet" name="internet" required
                                    placeholder="Nhập giá kết nối mạng" />
                            </div>
                        </form>
                    </div>
                </div>
                <app-footer></app-footer>

            </div>
        </div>

    </div>
</div>