<div id="content">
    <table class="table table-striped">
        <thead>
            <tr>
                <th *ngFor="let header of tableHeaders"> {{header}} </th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let invoice of invoices">
                <td>
                    {{ invoice.name }}
                </td>
                <td>{{invoice.tenant ? invoice.tenant.name : '' }}</td>
                <td>{{invoice.employee ? invoice.employee.name : '' }}</td>

                <td>{{ invoice.status ? 'Đã thanh toán' : 'Chưa thanh toán' }}</td>
                <td>{{ getTotal(invoice) }}</td>

                <td class="action-group">
                    <a type="button" class="btn btn-primary" routerLink="/invoice/detail/{{invoice.id}}">
                        <i class="fa fa-eye" aria-hidden="true"></i></a>
                    <a routerLink="/invoice/update/{{invoice.id}}" type="button" class="btn btn-primary">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    <a type="button" class="btn btn-danger" (click)="deleteInvoice(invoice)">
                        <i class="fa fa-trash-o" aria-hidden="true"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>