<div class="container-scroller">
    <div class="row">
        <app-sidebar></app-sidebar>

        <div class="col offset-2">
            <div class="container">

                <app-navbar></app-navbar>
                <div class="row">
                    <div class="header-container d-flex justify-content-between" id="header-container">
                        <span id="title">Bảng Điều Khiển</span>
                    </div>

                    <div id="content">
                        <a class="block" *ngFor="let control of controls" href="{{control.path}}">{{control.name}}</a>
                    </div>
                </div>
                <app-footer></app-footer>

            </div>
        </div>

    </div>
</div>