<div style="min-height: 74.7vh;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th *ngFor="let header of tableHeaders"> {{header}} </th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let room of rooms">
                <td>
                    {{ room.name }}
                </td>
                <td>{{ room.status ? 'Đã được thuê': 'Trống'}}</td>
                <td>{{ room.area}}</td>
                <td>{{ room.building ? room.building.name : '' }}</td>
                <td> {{room.description }}</td>
                <td>
                    <a type="button" class="btn btn-primary" href="room/detail/{{room.id}}">View</a>
                    <a href="room/update/{{room.id}}" type="button" class="btn btn-primary">Update</a>
                    <a type="button" class="btn btn-danger" (click)="deleteRoom(room)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>