<div style="min-height: 74.7vh;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th *ngFor="let header of tableHeaders"> {{header}} </th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let tenant of tenants">
                <td>
                    {{ tenant.name }}
                </td>
                <td>{{ tenant.gender ? 'Nam': 'Nữ'}}</td>
                <td>{{ tenant.phoneNumber }}</td>
                <td>{{ tenant.email }}</td>
                <td> {{tenant.indentityCard }}</td>
                <td> {{tenant.job}} </td>
                <td>{{tenant.hometown}}</td>
                <td> {{tenant.room ? tenant.room.name : ''}}</td>
                <td>
                    <a type="button" class="btn btn-primary" href="tenant/detail/{{tenant.id}}">View</a>
                    <a href="tenant/update/{{tenant.id}}" type="button" class="btn btn-primary">Update</a>
                    <a type="button" class="btn btn-danger" (click)="deleteTenant(tenant)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>