<!-- Side bar -->
<div class="nav-side-menu col-2">
    <div class="brand">Press Curing Control</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
            <li *ngFor="let item of menu" routerLinkActive="active">
                <a routerLink={{item.path}}>
                    <i class={{item.iconClass}}></i> {{item.title}}
                </a>
            </li>
        </ul>
    </div>
</div>