<div id="content">
    <table class="table table-striped">
        <thead>
            <tr>
                <th *ngFor="let header of tableHeaders"> {{header}} </th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let maintenance of maintenances">
                <td>{{ maintenance.name }}</td>
                <td>{{ maintenance.cost }}</td>
                <td><i>{{ maintenance.date }}</i></td>
                <td>{{ maintenance.description}}</td>
                <td class="action-group">
                    <a type="button" class="btn btn-primary" routerLink="/maintenance/detail/{{maintenance.id}}">
                        <i class="fa fa-eye" aria-hidden="true"></i></a>
                    <a routerLink="/maintenance/update/{{maintenance.id}}" type="button" class="btn btn-primary">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    <a type="button" class="btn btn-danger" (click)="deleteMaintenance(maintenance)">
                        <i class="fa fa-trash-o" aria-hidden="true"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>