<div id="content">
    <table class="table table-striped">
        <thead>
            <tr>
                <th *ngFor="let header of tableHeaders"> {{header}} </th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let employee of employees">
                <td>
                    {{ employee.name }}
                </td>
                <td>{{ employee.gender ? 'Nam': 'Nữ'}}</td>
                <td>{{ employee.phone }}</td>
                <td>{{ employee.email }}</td>
                <td> {{employee.identityCard }}</td>
                <td>{{employee.hometown}}</td>
                <td class="action-group">
                    <a type="button" class="btn btn-primary" routerLink="/employee/detail/{{employee.id}}">
                        <i class="fa fa-eye" aria-hidden="true"></i></a>
                    <a routerLink="/employee/update/{{employee.id}}" type="button" class="btn btn-primary">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    <a type="button" class="btn btn-danger" (click)="deleteEmployee(employee)">
                        <i class="fa fa-trash-o" aria-hidden="true"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>