<div style="min-height: 74.7vh;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th *ngFor="let header of tableHeaders"> {{header}} </th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let announcement of announcements">
                <td><a href="announcement/detail/{{announcement.id}}"> {{ announcement.title }} </a></td>
                <td>{{ announcement.body }}</td>
                <td>{{ announcement.date }}</td>
                <td>
                    <a type="button" class="btn btn-primary">View</a>
                    <a href="announcement/update/{{announcement.id}}" type="button" class="btn btn-primary">Update</a>
                    <a type="button" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>