<div id="content">
    <table class="table table-striped">

        <tbody>
            <tr *ngFor="let announcement of announcements">
                <td>
                    <h3>{{ announcement.title }}</h3>
                    <p>{{ announcement.body }}</p>
                    <p><i>{{ announcement.date }}</i></p>
                    <p class="action-group">
                        <a type="button" class="btn-primary" routerLink="/announcement/detail/{{announcement.id}}">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                        <a routerLink="/announcement/update/{{announcement.id}}" type="button" class="btn-primary">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </a>
                        <a type="button" class="btn-danger" (click)="deleteAnnouncement(announcement)">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </a>
                    </p>
                </td>

            </tr>
        </tbody>
    </table>
</div>